@import "tailwindcss";
@import "./custom.css";
@import "./style.css";

@theme {
  /* Color */
  --color-green0: #00511c;
  --color-green1: #187f10;
  --color-green2: #355e3b;
  --color-green3: #187f00;
  --color-green4: #05bb44;
  --color-green5: #05732b;
  --color-black1: #1c1c1c;
  --color-black2: #494949;
  --color-gray: #efefef;
  --color-gray2: #d9d9d9;
  --color-gray3: #f2f2f2;

  /* Font-family */
  --font-body: "Inter", sans-serif;

  /* font-size */
  --text-32: 32px;
  --text-64: 64px;

  /* lineheight */
  --spacing-50mp: -50%;
  --spacing-50p: 50%;
  --spacing-100p: 100%;
  --spacing-120p: 120%;

  /* Custom neccessary Breakpoints */
  --breakpoint-393: 393px;
  --breakpoint-576: 576px;
  --breakpoint-640: 640px;
  --breakpoint-768: 768px;
  --breakpoint-990: 990px;
  --breakpoint-1024: 1024px;
  --breakpoint-1025: 1025px;
  --breakpoint-1200: 1200px;
  --breakpoint-1280: 1280px;
  --breakpoint-1400: 1400px;
  --breakpoint-1440: 1440px;
  --breakpoint-1520: 1520px;
  --breakpoint-1582: 1582px;
  --breakpoint-1920: 1620px;
}

@layer base {
  ::before,
  ::after {
    @apply box-border;
  }
  html,
  body {
    @apply !scroll-smooth;
  }
  body {
    @apply p-0 m-0 font-body font-normal text-[15px] leading-[20px] min-768:text-[17px] min-768:leading-[22px] tracking-normal antialiased bg-white;
    -webkit-font-smoothing: antialiased;
  }
  a {
    @apply transition-all duration-300 ease-in-out cursor-pointer font-[inherit] text-inherit;
  }
  p {
    @apply font-[inherit] text-[inherit] leading-[inherit] tracking-[inherit] m-0;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 outline-0! font-body font-bold tracking-normal;
  }
  h1 {
    @apply text-[24px] min-393:text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[36px] min-[1440px]:leading-[40px] min-[1440px]:tracking-[0.43px] min-[1582px]:text-[43px] min-[1582px]:leading-[52px];
  }
  h2 {
    @apply text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[34px] min-[1440px]:leading-[40px] min-[1440px]:tracking-[0.45px] min-[1582px]:text-[45px] min-[1582px]:leading-[54px];
  }
  h3 {
    @apply text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[32px] min-[1440px]:leading-[36px] min-[1440px]:tracking-[0.36px] min-[1582px]:text-[36px] min-[1582px]:leading-[44px];
  }
  h4 {
    @apply text-[19px] leading-[24px] tracking-[0.19px] min-[768px]:text-[24px] min-[768px]:leading-[28px] min-[1440px]:text-[26px] min-[1440px]:leading-[31px] min-[1440px]:tracking-[0.26px];
  }
  h5 {
    @apply text-[15px] leading-[18px] tracking-[0.15px] min-[768px]:text-[18px] min-[768px]:leading-[20px] min-[1440px]:text-[23px] min-[1440px]:leading-[28px] min-[1440px]:tracking-[0.23px];
  }
  h6 {
    @apply text-[16px] leading-[25px] tracking-[0.16px] min-[1440px]:text-[19px] min-[1440px]:leading-[29px] min-[1440px]:tracking-[0.19px];
  }
  .h1 {
    @apply text-[24px] min-393:text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[36px] min-[1440px]:leading-[40px] min-[1440px]:tracking-[0.43px] min-[1582px]:text-[43px] min-[1582px]:leading-[52px];
  }
  .h2 {
    @apply text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[34px] min-[1440px]:leading-[40px] min-[1440px]:tracking-[0.45px] min-[1582px]:text-[45px] min-[1582px]:leading-[54px];
  }
  .h3 {
    @apply text-[25px] leading-[30px] tracking-[0.25px] min-[768px]:text-[28px] min-[768px]:leading-[32px] min-[1440px]:text-[32px] min-[1440px]:leading-[36px] min-[1440px]:tracking-[0.36px] min-[1582px]:text-[36px] min-[1582px]:leading-[44px];
  }
  .h4 {
    @apply text-[19px] leading-[24px] tracking-[0.19px] min-[768px]:text-[24px] min-[768px]:leading-[28px] min-[1440px]:text-[26px] min-[1440px]:leading-[31px] min-[1440px]:tracking-[0.26px];
  }
  .h5 {
    @apply text-[15px] leading-[18px] tracking-[0.15px] min-[768px]:text-[18px] min-[768px]:leading-[20px] min-[1440px]:text-[23px] min-[1440px]:leading-[28px] min-[1440px]:tracking-[0.23px];
  }
  .h6 {
    @apply text-[16px] leading-[25px] tracking-[0.16px] min-[1440px]:text-[19px] min-[1440px]:leading-[29px] min-[1440px]:tracking-[0.19px];
  }

  .text-h6 {
    @apply text-[15px] leading-[21px] tracking-[0.15px] min-[1440px]:text-[21px] min-[1440px]:leading-[29px] min-[1440px]:tracking-[0.21px];
  }

  img {
    @apply overflow-hidden select-none;
  }
  .img-fluid-cover {
    @apply w-full h-full object-cover;
  }
  .img-fluid-none {
    @apply w-full h-full object-none;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply !content-[none];
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply !z-[2];
  }
  .common-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  strong,
  b {
    @apply font-bold;
  }
}

@layer components {
  .button,
  .ctm-button {
    @apply cursor-pointer transition-all duration-300 ease-in-out font-body font-extrabold uppercase w-fit text-center text-[18px] min-1440:text-[21px] leading-100p tracking-[0.18px] min-1440:tracking-[0.21px] flex justify-center items-center px-[69px] py-[18px] min-990:py-[24px] rounded-[82px];
  }
  .button-green {
    @apply text-white bg-[linear-gradient(78deg,_#00511C_-24.41%,_#187F10_103.64%)] hover:bg-[linear-gradient(-78deg,_#00511C_-24.41%,_#187F10_103.64%)];
  }
  .button-white-outline {
    @apply text-black bg-white border-1 border-solid border-[#D8D8D8] hover:text-white hover:bg-green0 hover:border-green0 normal-case;
  }
  .button-svg {
    @apply gap-[30px];
  }
  .button-svg svg {
    @apply transition-all duration-300 ease-in-out;
  }
  .button-svg:hover svg {
    @apply translate-x-[5px];
  }
}

.swiper-wrapper {
  @apply !box-border;
}
.overflow-hidden {
  @apply overflow-hidden;
}
.custom-container,
.page-width {
  @apply px-[28px] min-[768px]:px-[30px] min-[1440px]:px-[136px] !max-w-full;
}
.container-136 {
  @apply px-[28px] min-[768px]:px-[30px] min-[1440px]:px-[136px] !max-w-full;
}

/* header */

.header .list-menu {
  @apply flex flex-col min-990:flex-row gap-y-[20px] gap-x-[30px] min-1440:gap-x-[40px] min-1440:gap-x-[67px] items-start min-990:items-center;
}

.header {
  @apply flex justify-between items-center gap-[20px];
}

.header .list-menu__item {
  @apply font-body font-medium text-[17px] leading-[27px] tracking-[0.17px] hover:text-green3;
}

.header .login-btn a {
  @apply font-body font-medium text-[17px] leading-[27px] tracking-[0.17px] hover:text-green3;
}

.header .sign-up-btn a {
  @apply font-body font-medium text-[17px] leading-[17px] tracking-[0.17px] cursor-pointer transition-all duration-300 ease-in-out font-body font-extrabold uppercase w-fit text-center flex justify-center items-center px-[37px] py-[12px] rounded-[50px] border-[1px] border-solid border-[#D8D8D8] text-black bg-transparent hover:border-green3 hover:text-white hover:bg-green3;
}

.header__heading-logo {
  @apply object-contain max-990:w-[181px];
}

.header .header__icon {
  @apply w-[33px] h-[22px];
}

.header .header__icon .icon {
  @apply w-[33px] h-[22px];
}

.menu-drawer__navigation-container {
  @apply flex flex-col justify-between px-[28px] pb-[28px];
}

.menu-drawer__navigation {
  @apply py-[28px];
}

.section-header {
  @apply sticky top-0 left-0 w-full z-999;
}

/* header */

/* footer */

.footer-block__heading {
  @apply font-body font-extrabold text-[16px] leading-[25px] tracking-[0.16px] min-990:text-[21px] min-990:leading-[33px] min-990:tracking-[0.21px] uppercase mb-[10px] mb-[21px] min-990:mb-[29px];
}

.copyright__content,
.footer-social-media *,
.footer-block__details-content * {
  @apply font-body font-medium text-[16px] leading-[22px] tracking-[0.16px] min-990:text-[19px] min-990:leading-[27px] min-990:tracking-[0.19px];
}

.copyright__content a,
.footer-social-media a,
.footer-block__details-content a {
  @apply hover:opacity-70;
}

.footer-block__details-content p a {
  @apply block;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.footer-block__details-content > * {
  @apply mb-[10px] last:mb-0;
}

.footer-connect .footer-social-media > * {
  @apply mb-[23px] min-768:mb-[20px] last:mb-0 flex items-center gap-[16px] min-990:gap-[24px];
}

.footer-contact .footer-block__details-content > * {
  @apply mb-[18px] min-768:mb-[29px] last:mb-0;
}

.footer-block--menu {
  @apply !flex !flex-col !justify-between;
}

.footer-copyright-main {
  @apply mt-[29px] min-768:mt-[26px] pt-[29px] min-768:pt-[26px] border-t-[1px] border-solid border-[rgba(255,_255,_255,_0.26)];
}

.footer__blocks-wrapper {
  display: grid !important;
}

.footer__blocks-wrapper > * {
  @apply !w-full !max-w-full;
}

.footer-contact {
  @apply max-768:mb-[43px];
}

.footer-connect {
  @apply max-768:mb-[30px];
}

.footer-social-media {
  @apply max-768:flex max-768:flex-wrap max-768:gap-x-[40px];
}

.footer-connect .footer-social-media > * {
  @apply max-768:flex-[0_0_calc(50%_-_20px)];
}

/* footer */

/* trust-coach */

.trusted-coaches__card:after {
  @apply content-[''] absolute w-full h-full top-0 left-0 pointer-events-none;
}

.trusted-coaches__card:after {
  background:
    linear-gradient(203deg, rgba(0, 0, 0, 0) 57.41%, rgba(0, 0, 0, 0.5) 72.71%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
}

@media (min-width: 990px) {
  .trusted-coaches__card:after {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      linear-gradient(
        181deg,
        #282828 1.23%,
        #282828 26.23%,
        rgba(40, 40, 40, 0) 51.05%
      );
  }
}

.trusted-coaches__overlay {
  @apply absolute left-[15px] min-990:left-0 bottom-[14px] min-990:bottom-[40px] min-1440:bottom-[80px] max-w-[calc(100%_-_20px)] w-fit z-1 min-990:bg-[url('https://cdn.shopify.com/s/files/1/0672/2410/9296/files/sqaure-bg-without-green-line.png?v=1767865789')] min-990:bg-no-repeat min-990:bg-[length:100%_100%];
}

.trusted-coaches__overlay-inside {
  @apply relative min-990:pl-[30px] min-990:pr-[43px] min-990:py-[10px];
}

.trusted-coaches__overlay-inside:after {
  @apply min-990:content-[''] absolute w-[21px] h-full top-0 right-[-5px] bg-[url('https://cdn.shopify.com/s/files/1/0672/2410/9296/files/green-line.png?v=1767865788')] bg-no-repeat bg-[length:100%_100%];
}

.trusted-coaches__name {
  @apply font-body font-extrabold uppercase italic text-[18px] leading-[20px] tracking-[0.18px] min-1440:tracking-[0.29px] min-1440:text-[29px] min-1440:leading-[32px];
}

/* trust-coach */

/* testimonial-video */

.vt-heading span {
  @apply min-990:text-green0;
}

.vt-arrow {
  @apply !w-[56px] !h-[56px] !flex !justify-center !items-center !transition-all !duration-300 !ease-in-out hover:!opacity-50 max-990:!hidden;
}

.vt-arrow.vt-prev {
  @apply left-[-34px];
}

.vt-arrow.vt-next {
  @apply right-[-34px];
}

.vt-play-btn svg {
  @apply max-990:w-[38px];
}

.vt-swiper .swiper-slide {
  @apply h-auto aspect-[0.6/1];
}

/* testimonial-video */

/* audience */

.dual-audience-grid {
  display: grid;
}

.dual-card__inner-above {
  @apply bg-[url('https://cdn.shopify.com/s/files/1/0672/2410/9296/files/audience-card-above-bg.png?v=1767767313')] bg-no-repeat bg-cover text-center text-white;
}

.dual-card__tag {
  @apply font-bold text-[16px] leading-[20px] tracking-[0.165px] min-[768px]:text-[18px] min-[768px]:leading-[20px] min-[1440px]:text-[23px] min-[1440px]:leading-[28px] min-[1440px]:tracking-[0.23px] uppercase px-[12px] min-990:px-[18px] py-[2px] bg-green2 rounded-[30px] min-990:rounded-[43px] block w-fit mx-auto mb-[19px] min-990:mb-[13px];
}

.dual-card__description {
  @apply mt-[6px] min-990:mt-[11px];
}

.dual-features {
  @apply mt-[28px] flex flex-col gap-[28px] min-1440:pl-[26px];
}

.dual-feature {
  @apply flex gap-[15px] min-990:gap-[30px] items-center;
}

.dual-feature img {
  @apply flex-[0_0_52px] w-[52px] h-auto aspect-square object-contain;
}

.dual-feature span {
  @apply tracking-[0.15px] min-990:tracking-[0.17px] font-medium min-990:max-w-[372px];
}

/* audience */

/* golfers */

.cg-testimonial-inside {
  @apply flex flex-col min-990:flex-row gap-y-[80px] bg-[url('https://cdn.shopify.com/s/files/1/0672/2410/9296/files/mobile-border-card-golfer.png?v=1767786168')] min-990:bg-[url('https://cdn.shopify.com/s/files/1/0672/2410/9296/files/full-golfer-border-bg.png?v=1767781412')] bg-no-repeat bg-[length:100%_100%] min-990:h-full;
}

.cg-testimonial-inside .cg-testimonial__image {
  @apply min-990:flex-[0_0_304] min-990:mr-[1px] max-990:w-[171px] max-990:h-auto max-990:aspect-[1.08/1] max-990:absolute max-990:right-0 max-990:bottom-0;
}

.cg-testimonial-inside .cg-testimonial__image img {
  @apply min-990:w-full min-990:h-auto min-990:aspect-[0.69/1] min-990:object-contain min-990:object-bottom-right min-990:rounded-[22px] min-990:mt-[-1px] min-990:min-h-full max-990:w-[171px] max-990:h-auto max-990:aspect-[1.08/1] max-990:object-contain max-990:rounded-br-[22px] max-990:object-bottom-right;
}

.cg-testimonial__content {
  @apply py-[30px] min-990:py-[50px] pl-[28px] min-1582:pl-[50px] pr-[21px] min-1582:pr-[5px] max-990:min-h-[290px] flex flex-col justify-center max-990:justify-between max-990:gap-[20px];
}

.cg-testimonial {
  @apply rounded-[22px] min-990:!h-auto;
}

.cg-testimonial__quote {
  @apply font-medium text-[15px] leading-[20px] tracking-[0.15px] min-990:text-[20px] min-990:leading-[24px] min-990:tracking-[0.20px] min-990:text-[22px] min-990:leading-[30px] min-990:tracking-[0.22px] min-990:mb-[58px];
}

.cg-testimonial__stars {
  @apply mb-[8px] min-990:mb-[15px];
}

.cg-testimonial__author strong {
  @apply font-semibold text-[18px] leading-[25px] tracking-[0.18px] min-990:text-[20px] min-990:leading-[24px] min-990:tracking-[0.20px] min-990:text-[22px] min-990:leading-[30px] min-990:tracking-[0.22px] block mb-[7px] min-990:mb-[2px];
}

.cg-testimonial__author span {
  @apply font-medium;
}

.golfers-arrow {
  @apply !w-[56px] !h-[56px] !flex !justify-center !items-center !transition-all !duration-300 !ease-in-out hover:!opacity-50 max-990:!hidden;
}

.golfers-arrow.golfers-prev {
  @apply left-[-28px];
}

.golfers-arrow.golfers-next {
  @apply right-[-28px];
}

.cg-testimonial__author {
  @apply max-990:max-w-[142px];
}

.is-mobile-stack .swiper-wrapper {
  @apply flex-wrap flex-col min-[640px]:flex-row gap-y-[23px] gap-x-[24px];
}

.is-mobile-stack .swiper-wrapper > * {
  @apply min-[640px]:flex-[0_0_calc(50%_-_12px)];
}

.cg-testimonial {
  background: linear-gradient(204deg, #3bca6c -18.12%, #000 45.65%);
}

@media (min-width: 990px) {
  .cg-testimonial.test-gradient-1 {
    background: linear-gradient(204deg, #3bca6c -18.12%, #000 45.65%);
  }
  .cg-testimonial.test-gradient-2 {
    background: linear-gradient(326deg, #007f2c -18.12%, #000 45.65%);
  }
}

/* golfers */

/* golf-feature */

.golf-feature-image {
  @apply rounded-t-[22px];
  background: linear-gradient(28deg, #007f2c -12.25%, #000 86.78%);
}

.golf-feature-image img {
  @apply w-full h-auto aspect-[1.14/1] object-cover rounded-t-[22px];
}

.golf-feature-content-subtitle br {
  @apply max-990:hidden;
}

/* golf-feature */

.golf-features-arrow-common {
  @apply max-1440:!w-[21px] max-1440:!h-[20px] max-[640px]:!hidden;
}

.swiper-disabled .golf-features-swiper .swiper-wrapper {
  @apply flex-col gap-[34px];
}

/* img-text-coaches */

.ctm-img-with-text-coaches .page-width {
  @apply max-990:px-0;
}

.ctm-img-with-text-coaches .image-with-text__grid {
  @apply flex-col min-990:flex-row items-center gap-x-[50px] min-1582:gap-x-[82px] gap-y-[50px];
}

.ctm-img-with-text-coaches .image-with-text__grid > * {
  @apply w-full max-w-full min-990:flex-[0_0_calc(50%_-_25px)] min-1582:flex-[0_0_calc(50%_-_41px)] min-990:w-[calc(50%_-_25px)] min-1582:w-[calc(50%_-_41px)];
}

.ctm-img-with-text-coaches .image-with-text__heading {
  @apply max-990:text-center max-990:mx-auto max-w-[338px] min-768:max-w-[440px] min-1582:max-w-[601px];
}

.ctm-img-with-text-coaches .image-with-text__content {
  @apply p-0;
}

.ctm-img-with-text-coaches .image-with-text__media {
  @apply min-h-[unset];
}

.ctm-img-with-text-coaches .image-with-text__media img {
  @apply min-990:rounded-[22px];
}

.ctm-img-with-text-coaches .image-with-text__text {
  @apply mt-[21px] min-990:mt-[28px] font-medium;
}

.ctm-img-with-text-coaches .ctm-button {
  @apply mt-[39px] min-990:mt-[56px] max-393:px-[56px] max-990:mx-auto;
}

.ctm-img-with-text-coaches .image-with-text__text-item {
  @apply max-990:px-[28px];
}

/* img-text-coaches */

/* price-plan */

.pricing-plan-box-wrapper {
  display: grid;
}

.header-pricing-plan-price strong {
  @apply font-semibold text-[35px] leading-[42px] tracking-[0.35px] min-990:text-[37px] min-990:leading-[45px] min-990:tracking-[0.37px];
}

/* price-plan */

.ctn-golf-live-info-main {
  background-color: #1c1c1c !important;
}

.ctn-golf-center-item-text,
.ctn-golf-right-item-text {
  word-break: break-word;
}

.glc-grey > * {
  @apply min-990:!gap-0;
}

.glc-grey .glc-phone img {
  @apply min-990:!w-full;
}

.glc-card.glc-green {
  @apply max-640:!pr-[15px];
}

.glc-card.glc-green > * {
  @apply max-640:!gap-0 max-640:!items-end;
}
